#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 2px solid #8B4513;
    border-radius: 25px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(139, 69, 19, 0.2);
    max-width: 400px;
    max-height: 60vh;
}

h2 {
    color: #8B4513;
    margin-bottom: 20px;
}

label {
    margin: 12px 0 6px 0;
    font-weight: 600;
    color: #5a3e1b;
    display: block;
}

input, select {
    margin: 5px 0 15px 0;
    padding: 8px 10px;
    border: 1.5px solid #d2b48c;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}



button {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 12px;
    width: 180px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a05e2a;
}

.empanada-pedido {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.empanada-pedido label {
    flex: 1;
}
