body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://static.vecteezy.com/system/resources/previews/010/857/929/non_2x/traditional-crimean-tatar-cuisine-chebureki-with-chicken-meat-fried-empanadas-on-wooden-background-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  margin: 0;
}